@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);

    /*font-family: 'Big Shoulders Display', cursive;*/
    /*font-family: 'Lexend Deca', sans-serif;*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

.card h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: var(--Very-light-gray);
    font-size: 45px;
}

.card p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--Transparent-white);
    letter-spacing: 0.5px;
    line-height: 25px;
}

.card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card img {width: 60px;}

.card-1 {
    background-color: var(--Bright-orange);
    border-radius: 10px 10px 0 0;
}

.card-2 {background-color: var(--Dark-cyan);}

.card-3 {
    background-color: var(--Very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

.container {width: 350px;}

.btn {
    border-style: none;
    background-color: var(--Very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    padding: 15px 30px;
    border-radius: 25px;
    font-weight: 700;
    width: 60%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.5s ease;
}

.card-1 .btn {color: var(--Bright-orange);}
.card-2 .btn {color: var(--Dark-cyan);}
.card-3 .btn {color: var(--Very-dark-cyan);}

.btn:hover {
    border: 2px solid white;
    background-color: transparent;
    color: var(--Very-light-gray);
}

@media screen and (min-width: 975px) {
    .container {
        width: 1000px;
        display: flex;
    }

    .container .card:first-child {border-radius: 10px 0 0 10px;}
    .container .card:last-child {border-radius: 0 10px 10px 0;}
    .btn {margin-top: 100px;}
}